.toolbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    height: auto;

    span {
        width: max-content;
        align-content: center;
    }

}

.toolbar span {
    color: white;
}
